body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-primary {
    background-color: rgb(41, 13, 123);
    border-color: transparent;
    color: white;
}

.active {
    background-color: rgb(41, 13, 123) !important;
    color: white !important;
}